$primary-black: #2b2828;
$primary-white: #f4eded;
$primary-orange: #e67e22;
$secondary-orange: #a64b00;
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "PlaypenSans";
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-orange;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-orange;
}

@media only screen and (min-width: 1024px) {
  .welcomeDiv {
    height: 90vh;
    img {
      height: 90vh;
      width: 100%;
      object-fit: cover;
      opacity: 0.45;
    }
    article {
      position: absolute;
      line-height: 0.5rem;
      width: 100%;
      height: 100%;
      top: 8vh;

      font-family: "Young Serif";
      color: $primary-black;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-style: italic;
        font-size: 10rem;
        letter-spacing: 2.5rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        align-items: center;

        width: 50%;
        input,
        button {
          line-height: 3rem;
          border-radius: 45px;
          font-size: 1rem;
          border: none;
          border: 1px $primary-black solid;
          text-align: center;
        }
        button {
          background-color: $primary-orange;
          font-weight: 600;
        }
        input:focus {
          outline: 3px $primary-orange solid;
          transition: 0.1s;
        }
      }
    }
  }
  footer {
    height: 5vh;
    background-color: $primary-black;
    color: $primary-white;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .welcomeDiv {
    height: 90vh;
    img {
      height: 90vh;
      width: 100%;
      object-fit: cover;
      opacity: 0.45;
    }
    article {
      position: absolute;
      line-height: 0.5rem;
      width: 100%;
      height: 100%;
      top: 8vh;

      font-family: "Young Serif";
      color: $primary-black;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-style: italic;
        font-size: 8rem;
        letter-spacing: 2rem;
      }
      h2 {
        font-size: 2rem;
      }
      form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        align-items: center;

        width: 70%;
        input,
        button {
          line-height: 3rem;
          border-radius: 45px;
          font-size: 1rem;
          border: none;
          border: 1px $primary-black solid;
          text-align: center;
        }
        button {
          background-color: $primary-orange;
          font-weight: 600;
        }
        input:focus {
          outline: 3px $primary-orange solid;
          transition: 0.1s;
        }
      }
    }
  }
  footer {
    height: 5vh;
    background-color: $primary-black;
    color: $primary-white;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .welcomeDiv {
    height: 100vh;
    img {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      opacity: 0.45;
    }
    article {
      position: absolute;
      line-height: 0.5rem;
      width: 100%;
      height: 100%;
      top: 8vh;

      font-family: "Young Serif";
      color: $primary-black;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-style: italic;
        font-size: 6rem;
        letter-spacing: 1rem;
      }
      h2 {
        font-size: 2rem;
      }
      form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        align-items: center;

        width: 70%;
        input,
        button {
          line-height: 3rem;
          border-radius: 45px;
          font-size: 1rem;
          border: none;
          border: 1px $primary-black solid;
          text-align: center;
        }
        button {
          background-color: $primary-orange;
          font-weight: 600;
        }
        input:focus {
          outline: 3px $primary-orange solid;
          transition: 0.1s;
        }
      }
    }
  }
  footer {
    height: 5vh;
    background-color: $primary-black;
    color: $primary-white;
    text-align: center;
  }
}
