body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "PlaypenSans";
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e67e22;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a64b00;
}

@media only screen and (min-width: 1024px) {
  .welcomeDiv {
    min-height: 100vh;
  }
  .welcomeDiv article {
    position: relative;
    line-height: 0.5rem;
    width: 100%;
    min-height: 100vh;
    font-family: "Young Serif";
    color: #2b2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcomeDiv article img {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.3;
  }
  .welcomeDiv article h1 {
    font-style: italic;
    font-size: 10rem;
    letter-spacing: 2.5rem;
  }
  .welcomeDiv article h2 {
    font-size: 2.5rem;
  }
  .welcomeDiv article form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: center;
    width: 50%;
  }
  .welcomeDiv article form input,
  .welcomeDiv article form button {
    line-height: 3rem;
    border-radius: 45px;
    font-size: 1rem;
    border: none;
    border: 1px #2b2828 solid;
    text-align: center;
  }
  .welcomeDiv article form button {
    background-color: #e67e22;
    font-weight: 600;
  }
  .welcomeDiv article form input:focus {
    outline: 3px #e67e22 solid;
    transition: 0.1s;
  }
  footer {
    height: 5vh;
    background-color: #2b2828;
    color: #f4eded;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .welcomeDiv {
    height: 90vh;
  }
  .welcomeDiv img {
    height: 90vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.45;
  }
  .welcomeDiv article {
    position: absolute;
    line-height: 0.5rem;
    width: 100%;
    height: 100%;
    top: 8vh;
    font-family: "Young Serif";
    color: #2b2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcomeDiv article h1 {
    font-style: italic;
    font-size: 8rem;
    letter-spacing: 2rem;
  }
  .welcomeDiv article h2 {
    font-size: 2rem;
  }
  .welcomeDiv article form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: center;
    width: 70%;
  }
  .welcomeDiv article form input,
  .welcomeDiv article form button {
    line-height: 3rem;
    border-radius: 45px;
    font-size: 1rem;
    border: none;
    border: 1px #2b2828 solid;
    text-align: center;
  }
  .welcomeDiv article form button {
    background-color: #e67e22;
    font-weight: 600;
  }
  .welcomeDiv article form input:focus {
    outline: 3px #e67e22 solid;
    transition: 0.1s;
  }
  footer {
    height: 5vh;
    background-color: #2b2828;
    color: #f4eded;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .welcomeDiv {
    height: 100vh;
  }
  .welcomeDiv img {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.45;
  }
  .welcomeDiv article {
    position: absolute;
    line-height: 0.5rem;
    width: 100%;
    height: 100%;
    top: 8vh;
    font-family: "Young Serif";
    color: #2b2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcomeDiv article h1 {
    font-style: italic;
    font-size: 6rem;
    letter-spacing: 1rem;
  }
  .welcomeDiv article h2 {
    font-size: 2rem;
  }
  .welcomeDiv article form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: center;
    width: 70%;
  }
  .welcomeDiv article form input,
  .welcomeDiv article form button {
    line-height: 3rem;
    border-radius: 45px;
    font-size: 1rem;
    border: none;
    border: 1px #2b2828 solid;
    text-align: center;
  }
  .welcomeDiv article form button {
    background-color: #e67e22;
    font-weight: 600;
  }
  .welcomeDiv article form input:focus {
    outline: 3px #e67e22 solid;
    transition: 0.1s;
  }
  footer {
    height: 5vh;
    background-color: #2b2828;
    color: #f4eded;
    text-align: center;
  }
}/*# sourceMappingURL=landingPageStyles.css.map */