@import "../utilites/variables";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Montserrat;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .welcomeDiv {
    min-height: 100vh;
    article {
      position: relative;
      line-height: 0.5rem;
      width: 100%;
      min-height: 100vh;
      color: $primary-black;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
      img {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: calc(100% + 2rem);
        object-fit: cover;
        opacity: 0.3;
      }
      h1 {
        font-style: italic;
        font-size: 10rem;
        letter-spacing: 2.5rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        align-items: center;
        width: 50%;
        input,
        button {
          line-height: 3rem;
          border-radius: 45px;
          font-size: 1rem;
          border: none;
          border: 1px $primary-black solid;
          text-align: center;
        }
        button {
          background-color: $primary;
          font-weight: 600;
          color: $primary-black;
        }
        input:focus {
          outline: 3px $primary solid;
          transition: 0.1s;
        }
      }
    }
  }
  footer {
    height: 5vh;
    background-color: $primary-black;
    color: $primary-white;
    text-align: center;
  }
}

@media only screen and (max-width: 1023px) {
  .welcomeDiv {
    min-height: 100vh;
    article {
      position: relative;
      line-height: 0.5rem;
      width: 100%;
      min-height: 100vh;

      color: $primary-black;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
      img {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: calc(100% + 2rem);
        object-fit: cover;
        opacity: 0.3;
      }
      h1 {
        font-style: italic;
        font-size: 8rem;
        letter-spacing: 2rem;
      }
      h2 {
        font-size: 2rem;
      }
      form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        align-items: center;

        width: 70%;
        input,
        button {
          line-height: 3rem;
          border-radius: 45px;
          font-size: 1rem;
          border: none;
          border: 1px $primary-black solid;
          text-align: center;
        }
        button {
          background-color: $primary;
          font-weight: 600;
        }
        input:focus {
          outline: 3px $primary solid;
          transition: 0.1s;
        }
      }
    }
  }
  footer {
    height: 5vh;
    background-color: $primary-black;
    color: $primary-white;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .welcomeDiv {
    min-height: 100vh;
    article {
      position: relative;
      line-height: 0.5rem;
      width: 100%;
      min-height: 100vh;

      color: $primary-black;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
      img {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: calc(100% + 2rem);
        object-fit: cover;
        opacity: 0.3;
      }
      h1 {
        font-style: italic;
        font-size: 10vw;
        letter-spacing: 1rem;
      }
      h2 {
        font-size: 5vw;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        input,
        button {
          line-height: 3rem;
          border-radius: 45px;
          font-size: 1rem;
          width: 100%;
          border: 1px $primary-black solid;
          text-align: center;
        }
        button {
          background-color: $primary;
          font-weight: 600;
          width: 50%;
        }
        input:focus {
          outline: 3px $primary solid;
          transition: 0.1s;
        }
      }
    }
  }
  footer {
    height: 5vh;
    background-color: $primary-black;
    color: $primary-white;
    text-align: center;
  }
}
