@font-face {
  font-family: Montserrat;
  src: url(../mainStyles/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: MontserratItalic;
  src: url(../mainStyles/Montserrat-Italic-VariableFont_wght.ttf);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f99589;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f15946;
}

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    text-align: center;
    justify-self: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1023px) {
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
  h3 {
    font-size: 1.7rem;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
  }
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Montserrat;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .welcomeDiv {
    min-height: 100vh;
  }
  .welcomeDiv article {
    position: relative;
    line-height: 0.5rem;
    width: 100%;
    min-height: 100vh;
    color: #2b2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .welcomeDiv article img {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100% + 2rem);
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.3;
  }
  .welcomeDiv article h1 {
    font-style: italic;
    font-size: 10rem;
    letter-spacing: 2.5rem;
  }
  .welcomeDiv article h2 {
    font-size: 2.5rem;
  }
  .welcomeDiv article form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: center;
    width: 50%;
  }
  .welcomeDiv article form input,
  .welcomeDiv article form button {
    line-height: 3rem;
    border-radius: 45px;
    font-size: 1rem;
    border: none;
    border: 1px #2b2828 solid;
    text-align: center;
  }
  .welcomeDiv article form button {
    background-color: #f15946;
    font-weight: 600;
    color: #2b2828;
  }
  .welcomeDiv article form input:focus {
    outline: 3px #f15946 solid;
    transition: 0.1s;
  }
  footer {
    height: 5vh;
    background-color: #2b2828;
    color: #f4eded;
    text-align: center;
  }
}
@media only screen and (max-width: 1023px) {
  .welcomeDiv {
    min-height: 100vh;
  }
  .welcomeDiv article {
    position: relative;
    line-height: 0.5rem;
    width: 100%;
    min-height: 100vh;
    color: #2b2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .welcomeDiv article img {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100% + 2rem);
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.3;
  }
  .welcomeDiv article h1 {
    font-style: italic;
    font-size: 8rem;
    letter-spacing: 2rem;
  }
  .welcomeDiv article h2 {
    font-size: 2rem;
  }
  .welcomeDiv article form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: center;
    width: 70%;
  }
  .welcomeDiv article form input,
  .welcomeDiv article form button {
    line-height: 3rem;
    border-radius: 45px;
    font-size: 1rem;
    border: none;
    border: 1px #2b2828 solid;
    text-align: center;
  }
  .welcomeDiv article form button {
    background-color: #f15946;
    font-weight: 600;
  }
  .welcomeDiv article form input:focus {
    outline: 3px #f15946 solid;
    transition: 0.1s;
  }
  footer {
    height: 5vh;
    background-color: #2b2828;
    color: #f4eded;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .welcomeDiv {
    min-height: 100vh;
  }
  .welcomeDiv article {
    position: relative;
    line-height: 0.5rem;
    width: 100%;
    min-height: 100vh;
    color: #2b2828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .welcomeDiv article img {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100% + 2rem);
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.3;
  }
  .welcomeDiv article h1 {
    font-style: italic;
    font-size: 6rem;
    letter-spacing: 1rem;
  }
  .welcomeDiv article h2 {
    font-size: 1.5rem;
  }
  .welcomeDiv article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .welcomeDiv article form input,
  .welcomeDiv article form button {
    line-height: 3rem;
    border-radius: 45px;
    font-size: 1rem;
    width: 100%;
    border: 1px #2b2828 solid;
    text-align: center;
  }
  .welcomeDiv article form button {
    background-color: #f15946;
    font-weight: 600;
    width: 50%;
  }
  .welcomeDiv article form input:focus {
    outline: 3px #f15946 solid;
    transition: 0.1s;
  }
  footer {
    height: 5vh;
    background-color: #2b2828;
    color: #f4eded;
    text-align: center;
  }
}/*# sourceMappingURL=landingPageStyles.css.map */