$primary-black: #2b2828;
$primary-white: #f4eded;
$primary-orange: #e67e22;
$secondary-orange: #a64b00;

@media only screen and (min-width: 1024px) {
  .panel {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;

    text-align: center;
    img {
      justify-self: center;
      width: 90%;
      position: relative;
      border-radius: 45px;
      grid-area: img;
    }
    section {
      margin: 0;
      height: 90%;
      width: 80%;
      justify-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: text;
      h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
      }
      span {
        color: $primary-orange;
      }
      p {
        text-align: center;
        width: 90%;
        justify-self: center;
        font-size: 1.7rem;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .panel {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "img" "text" !important;
    align-items: center;
    text-align: center;
    padding: 8rem 0;
    img {
      justify-self: center;
      width: 50%;
      border-radius: 25px;
      grid-area: img;
    }
    section {
      width: 90%;
      justify-self: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: text;
      h2 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
      }
      span {
        color: $primary-orange;
      }
      p {
        text-align: center;
        width: 90%;
        justify-self: center;
        font-size: 1.5rem;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .panel {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-areas: "img" "text" !important;
    align-items: center;
    text-align: center;
    padding: 8rem 0;
    img {
      justify-self: center;
      width: 50%;
      border-radius: 25px;
      grid-area: img;
    }
    section {
      width: 90%;
      justify-self: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: text;
      h2 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
      }
      span {
        color: $primary-orange;
      }
      p {
        text-align: center;
        width: 90%;
        justify-self: center;
        font-size: 1.5rem;
      }
    }
  }
}
