$primary-black: #2b2828;
$primary-white: #f4eded;
$primary-orange: #e67e22;
$secondary-orange: #a64b00;

@media only screen and (min-width: 1024px) {
  .btn-info {
    //   position: relative;
    //   width: 50%;
    //   line-height: 4rem;
    //   border: none;
    //   border-radius: 45px;
    //   font-size: 1.5rem;
    //   text-transform: uppercase;
    //   background-color: $primary-orange;
    //   cursor: pointer;
    //   font-family: "PlaypenSans";
    //   font-style: italic;
    //   font-weight: 900;
    //   width: 50%;
    //   line-height: 3rem;
    //   font-size: 1.3rem;
  }
  .btn-info:hover {
    transition: 0.4s;
    color: $primary-white;
  }
}
@media only screen and (min-width: 1024px) {
  .btn-info {
    line-height: 2rem;
    width: 80%;
    font-size: 1rem;
  }
}
