@media only screen and (min-width: 1024px) {
  .menuPositionsPanels {
    width: 100vw;
    top: 8vh;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    grid-row-gap: 2rem;
    background-color: #f4eded;
  }
  .menuPositionsPanels .item {
    background-color: #2b2828;
    color: #f4eded;
    margin: 2rem 1rem;
    min-height: 550px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .menuPositionsPanels .item .base {
    position: relative;
    width: 90%;
    left: 5%;
  }
  .menuPositionsPanels .item .wrapper-img {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuPositionsPanels .item .wrapper-img img {
    max-height: 250px;
    max-width: 90%;
  }
  .menuPositionsPanels .item .wrapper-name {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuPositionsPanels .item .wrapper-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .menuPositionsPanels .item .wrapper-price .product {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    border-radius: 45px;
    background-color: #e67e22;
    color: #2b2828;
    cursor: pointer;
  }
  .menuPositionsPanels .item .wrapper-price .product:hover {
    background-color: #f4eded;
    color: #2b2828;
    transition: 0.5s;
  }
  .menuPositionsPanels .item .wrapper-price .product:focus {
    background-color: #f4eded;
    color: #2b2828;
  }
  .menuPositionsPanels .item .wrapper-button .buttonObject {
    background-color: #e67e22;
    border: none;
    border-radius: 45px;
    font-family: Lato;
    width: 60%;
    font-weight: 500;
    cursor: pointer;
  }
  .menuPositionsPanels .item .wrapper-button .buttonObject:hover {
    background-color: #f4eded;
    color: #2b2828;
    transition: 0.5s;
  }
  .shoppingCart {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 10%;
    background-color: #e67e22;
    border-radius: 25px;
    top: 90%;
    left: 90%;
  }
  .shoppingCart svg {
    height: 60%;
    width: 60%;
  }
  .shoppingCart svg:hover {
    animation-name: shake;
    animation-duration: 1s;
  }
}
@media only screen and (max-width: 1023px) {
  .menuPositionsPanels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 8vh;
    width: 100vw;
    height: auto;
    align-items: center;
    text-align: center;
    grid-row-gap: 2rem;
    background-color: #f4eded;
  }
  .menuPositionsPanels .item {
    background-color: #2b2828;
    color: #f4eded;
    margin: 2rem 1rem;
    min-height: 550px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .menuPositionsPanels .item .base {
    position: relative;
    width: 90%;
    left: 5%;
  }
  .menuPositionsPanels .item .wrapper-img {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuPositionsPanels .item .wrapper-img img {
    min-height: 200px;
    max-width: 60%;
  }
  .menuPositionsPanels .item .wrapper-name {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuPositionsPanels .item .wrapper-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .menuPositionsPanels .item .wrapper-price .product {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    border-radius: 45px;
    background-color: #e67e22;
    color: #2b2828;
    cursor: pointer;
  }
  .menuPositionsPanels .item .wrapper-price .product:hover {
    background-color: #f4eded;
    color: #2b2828;
    transition: 0.5s;
  }
  .menuPositionsPanels .item .wrapper-price .product:focus {
    background-color: #f4eded;
    color: #2b2828;
  }
  .menuPositionsPanels .item .wrapper-button .buttonObject {
    background-color: #e67e22;
    border: none;
    border-radius: 45px;
    font-family: Lato;
    width: 60%;
    font-weight: 500;
    cursor: pointer;
  }
  .menuPositionsPanels .item .wrapper-button .buttonObject:hover {
    background-color: #f4eded;
    color: #2b2828;
    transition: 0.5s;
  }
  .shoppingCart {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 15%;
    background-color: #e67e22;
    border-radius: 25px;
    top: 84%;
    left: 84%;
  }
  .shoppingCart svg {
    height: 60%;
    width: 60%;
  }
  .shoppingCart svg:hover {
    animation-name: shake;
    animation-duration: 1s;
  }
}
@keyframes shake {
  40% {
    rotate: -15deg;
  }
  70% {
    rotate: 15deg;
  }
}/*# sourceMappingURL=menuStyles.css.map */