@font-face {
  font-family: Montserrat;
  src: url(../utilites/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: MontserratItalic;
  src: url(../utilites/Montserrat-Italic-VariableFont_wght.ttf);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f99589;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f15946;
}

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    text-align: center;
    justify-self: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1023px) {
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
  h3 {
    font-size: 1.7rem;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .ofertaDiv {
    background-image: url("./background.webp");
    background-size: cover;
    background-position: center;
    min-height: auto;
    padding: 5vh 0vw;
  }
  .ofertaDiv .pannelsRow {
    display: flex;
    flex-direction: row;
    min-height: auto;
    padding: 10vh 0vw;
    justify-content: center;
  }
  .ofertaDiv .pannelsRow .panelFromRowDiv {
    display: grid;
    grid-template-areas: "headingDiv" "prosDiv" "buttonDiv";
    grid-template-rows: 2fr 3fr 2fr;
    align-items: center;
    width: 50%;
    margin: 5% 1%;
    background-color: #2b2828;
    color: #f4eded;
    border-radius: 45px;
  }
  .ofertaDiv .pannelsRow .panelFromRowDiv .headingDiv {
    grid-area: headingDiv;
    align-self: flex-end;
  }
  .ofertaDiv .pannelsRow .panelFromRowDiv .prosDiv {
    grid-area: prosDiv;
    justify-self: center;
    width: 80%;
  }
  .ofertaDiv .pannelsRow .panelFromRowDiv .buttonDiv {
    grid-area: buttonDiv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ofertaDiv .pannelsRow .selected {
    border: 5px solid #2b2828;
    background-color: #f15946 !important;
    color: #2b2828 !important;
  }
  .introDiv {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .introDiv h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 10vh;
    text-transform: uppercase;
    color: #2b2828;
    width: 100%;
    height: 30%;
  }
  .introDiv::after {
    content: "";
    left: 0;
    top: 10vh;
    background-image: url(./peopleWorking.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    display: inline-block;
    opacity: 0.5;
  }
  .infoPanel {
    height: 80vh;
    margin: 5vh 0vw;
    border: solid #2b2828 5px;
    width: 80vw;
    display: grid;
    position: relative;
    left: 10vw;
    border-radius: 50px;
    grid-template-areas: "title title  title title" "image image content content";
    grid-template-rows: 1fr 2fr;
  }
  .infoPanel .title {
    background-color: #2b2828;
    color: #f4eded;
    border-radius: 40px 40px 0 0;
    text-transform: uppercase;
    width: calc(100% + 2.5px);
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .infoPanel .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: image;
    border-radius: 0 0 0 45px;
  }
  .infoPanel .content {
    background-color: lightgrey;
    color: #2b2828;
    border-radius: 0 0 45px;
    padding: 0% 10%;
    background-image: none !important;
    grid-area: content;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .infoPanel .buttons {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .ofertaDiv {
    top: 0;
    position: relative;
    background-image: url("./background.webp");
    background-size: cover;
    background-position: center;
    min-height: auto;
    padding: 5vh 0vw;
  }
  .ofertaDiv .pannelsRow .panelFromRowDiv {
    display: none;
  }
  .introDiv {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .introDiv h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 7vw;
    text-transform: uppercase;
    color: #2b2828;
    width: 100%;
    height: 30%;
  }
  .introDiv::after {
    content: "";
    left: 0;
    top: 8vh;
    background-image: url(./peopleWorking.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    display: inline-block;
    opacity: 0.5;
  }
  .infoPanel {
    height: 100vh;
    margin: 5vh 0vw;
    border: solid #2b2828 5px;
    width: 80vw;
    display: grid;
    position: relative;
    left: 10vw;
    border-radius: 50px;
    grid-template-areas: "title" "image" "content";
    grid-template-rows: 0.5fr 1fr 1fr;
  }
  .infoPanel .title {
    position: relative;
    left: -2.5px;
    top: -2.5px;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    background-color: #2b2828;
    color: #f4eded;
    border-radius: 40px 40px 0 0;
    text-transform: uppercase;
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .infoPanel .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: image;
    background-color: lightgray;
  }
  .infoPanel .content {
    background-color: lightgrey;
    color: #2b2828;
    border-radius: 0;
    padding: 0% 10%;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0 0 45px 45px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .infoPanel .content .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .selected {
    border: 5px solid #2b2828;
    background-color: #f15946 !important;
    color: #2b2828 !important;
  }
}/*# sourceMappingURL=ofertaStyles.css.map */