@import "../utilites/_variables";
.admin {
  background-image: url(./cabelRoom.webp);
  //   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  .formBox {
    position: absolute;
    top: 25vh;
    height: 40vh;
    border-radius: 20px;
    left: 20vw;
    right: 25vw;
    display: grid;
    padding: 2vh 5vw;
    grid-template-areas: "heading heading" "textLogin inputLogin" "textPass inputPass" "button button";
    background-color: $primary;
    width: 50vw;
    button {
      grid-area: button;
      width: 40%;
      background-color: greenyellow;
      font-weight: 600;
      font-size: 1.7rem;
      height: 3rem;
      justify-self: center;
      border-radius: 20px;
      border: none;
    }
    h2 {
      grid-area: heading;
    }
    h3 {
      align-self: center;
      text-align: center;
      // margin: 0;
    }
    input {
      align-self: center;
      line-height: 3rem;
      justify-content: center;
      border: none;
      border-radius: 20px;
      text-align: center;
    }
  }
}
.adminConfigContainer {
  color: $primary-white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  background-image: url(./techBG.webp);
  height: 90vh;
  .basicInfo {
    height: 80%;
    width: 80%;
    padding: 10% 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 90%;
      border-radius: 20px;
    }
  }
  .options {
    width: 100%;
    height: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-y: scroll;
    align-items: center;
    .disabled {
      opacity: 0.3;
    }
    .optionRow {
      margin-top: 1rem;
      width: 80%;
      background-color: $primary-gray;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      color: black;
      border-radius: 20px;
      img {
        width: 5rem;
        height: 5rem;
      }
      button {
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        svg {
          fill: black;
        }
      }
    }
  }
  h2 {
    margin: 0;
  }
}
.form {
  background-color: $primary-gray;
  padding: 5vh 10vw;
  color: $primary-black;
  display: grid;
  grid-template-areas: "h2 h2" "nameText nameInput" "priceText pricesBox" "buttons buttons";
  h2 {
    grid-area: h2;
  }
  .nameText {
    grid-area: nameText;
  }
  .nameInput {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    height: 4rem;

    grid-area: nameInput;
  }
  .priceText {
    grid-area: priceText;
  }
  .pricesBox {
    grid-area: pricesBox;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    input {
      text-align: center;
    }
  }
  .buttons {
    grid-area: buttons;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 2rem;

    .change {
      height: 2rem;
      width: 30%;
      grid-area: change;
    }
    .clear {
      height: 2rem;
      width: 30%;
      grid-area: clear;
    }
  }
}
