@font-face {
  font-family: Montserrat;
  src: url(../mainStyles/Montserrat-VariableFont_wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}

@media only screen and (min-width: 1024px) {
  .introduceDiv {
    min-height: 85vh;
    width: 90vw;
    padding: 0 5vw 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .introduceDiv h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  .introduceDiv h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .introduceDiv p {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    width: 80%;
  }
  .introduceDiv::before {
    content: "";
    background-image: url("./paperwork.png");
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.55;
  }
  .perksDiv {
    position: relative;
    height: 80vh;
    left: 10vw;
    right: 10vw;
    top: 10vh;
    bottom: 10vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .perksDiv .item {
    justify-self: center;
    display: grid;
    justify-content: center;
    text-align: left;
    align-items: center;
    background-color: #f4eded;
    grid-template-columns: 1fr 1.5fr;
    box-shadow: inset 0 0 30px #2b2828;
    height: 80%;
    width: 60%;
    padding: 0 10%;
    border-radius: 25px;
    border-radius: 2px solid black;
  }
  .perksDiv .item svg {
    justify-self: center;
    width: 20%;
    color: #2b282b;
  }
  .perksDiv::before {
    content: "";
    padding: 0vh 10vw 0vh 10vw;
    translate: calc(-20vw - 5px) 0;
    background-image: url("./image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.75;
  }
  .summaryDiv {
    width: 60vw;
    height: 25vh;
    margin: 35vh 20vw 0vh 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .summaryDiv .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .summaryDiv .start {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }
  .summaryDiv .end {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }
  .summaryDiv::before {
    content: "";
    background-image: url("./coffes.png");
    background-size: cover;
    position: absolute;
    top: 200vh;
    right: 0;
    left: 0;
    right: 0;
    z-index: -1;
    min-height: 50vh;
    min-width: 100vw;
    background-position: center;
  }
}
@media only screen and (max-width: 1023px) {
  .introduceDiv {
    min-height: 85vh;
    width: 90vw;
    padding: 0 5vw 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .introduceDiv h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  .introduceDiv h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .introduceDiv p {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    width: 80%;
  }
  .introduceDiv::before {
    content: "";
    background-image: url("./paperwork.png");
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.55;
  }
  .perksDiv {
    padding: 5vh 0vh;
    height: 90vh;
    left: 10vw;
    right: 10vw;
    top: 10vh;
    bottom: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .perksDiv .item {
    justify-self: center;
    display: grid;
    justify-content: center;
    text-align: left;
    align-items: center;
    background-color: #f4eded;
    grid-template-columns: 1fr 1.5fr;
    box-shadow: inset 0 0 30px #2b2828;
    height: 80%;
    width: 60%;
    padding: 0 10%;
    border-radius: 25px;
    border-radius: 2px solid black;
  }
  .perksDiv .item svg {
    justify-self: center;
    width: 20%;
    color: #2b282b;
  }
  .perksDiv::before {
    content: "";
    padding: 0vh 10vw;
    background-image: url("./image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 100vh;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.75;
  }
  .summaryDiv {
    width: 90vw;
    height: 25vh;
    margin: 12.5vh 5vw 12.5vh 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .summaryDiv .item {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .summaryDiv .item h1 {
    font-size: 2.5rem;
    color: #f15946;
  }
  .summaryDiv .item h2 {
    font-size: 1rem;
  }
  .summaryDiv .start {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }
  .summaryDiv .end {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }
  .summaryDiv::before {
    content: "";
    background-image: url("./coffes.png");
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    right: 0;
    z-index: -1;
    min-height: 50vh;
    min-width: 100vw;
    background-position: center;
  }
}
@media only screen and (max-width: 767px) {
  .introduceDiv {
    min-height: 85vh;
    width: 90vw;
    padding: 0 5vw 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .introduceDiv h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  .introduceDiv h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .introduceDiv p {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    width: 80%;
  }
  .introduceDiv::before {
    content: "";
    background-image: url("./paperwork.png");
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.55;
  }
  .perksDiv {
    padding: 5vh 0vh;
    height: 90vh;
    left: 10vw;
    right: 10vw;
    top: 10vh;
    bottom: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .perksDiv .item {
    justify-self: center;
    display: grid;
    justify-content: center;
    text-align: left;
    align-items: center;
    background-color: #f4eded;
    grid-template-columns: 1fr 1.5fr;
    box-shadow: inset 0 0 30px #2b2828;
    height: 80%;
    width: 60%;
    padding: 0 10%;
    border-radius: 25px;
    border-radius: 2px solid black;
  }
  .perksDiv .item svg {
    justify-self: center;
    width: 20%;
    color: #2b282b;
  }
  .perksDiv::before {
    content: "";
    padding: 0vh 10vw;
    background-image: url("./image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 100vh;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.75;
  }
  .summaryDiv {
    width: 90vw;
    height: 25vh;
    margin: 12.5vh 5vw 12.5vh 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .summaryDiv .item {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .summaryDiv .item h1 {
    font-size: 2.5rem;
    color: #f15946;
  }
  .summaryDiv .item h2 {
    font-size: 1rem;
  }
  .summaryDiv .start {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }
  .summaryDiv .end {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }
  .summaryDiv::before {
    content: "";
    background-image: url("./coffes.png");
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    right: 0;
    z-index: -1;
    min-height: 50vh;
    min-width: 100vw;
    background-position: center;
  }
}/*# sourceMappingURL=officeStyles.css.map */