@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital@1&family=Young+Serif&display=swap");
@font-face {
  font-family: PlayfairDisplay_Italic;
  src: url(./PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: PlaypenSans;
  src: url(./PlaypenSans-VariableFont_wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "PlaypenSans";
}

.navbarDiv {
  top: 0%;
  opacity: 1;
  width: 100%;
  position: sticky;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  text-align: center;
  background: #2b2828;
  color: white;
  z-index: 1;
}
.navbarDiv .item {
  cursor: pointer;
  font-family: "PlaypenSans";
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarDiv .item a {
  text-decoration: none;
  color: #f4eded;
  text-transform: uppercase;
  font-weight: 500;
}
.navbarDiv .item:hover {
  background-color: rgba(230, 125, 34, 0.8823529412);
  transition: 0.5s;
}
.navbarDiv .item:hover a {
  color: #2b2828;
}

.welcomeDiv_bg {
  padding: 0%;
  background: url("../imgs/waiterJPG.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.welcomeDiv_text {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.65;
  color: #2b2828;
}
.welcomeDiv_text h1 {
  font-style: italic;
  font-family: "Young Serif";
}
.welcomeDiv_text form {
  border: solid 2px #2b2828;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomeDiv_text form input,
.welcomeDiv_text form button {
  border: none;
  text-align: center;
}
.welcomeDiv_text form input {
  border-radius: 30px 0 0 30px;
  color: #2b2828;
}
.welcomeDiv_text form button {
  border-radius: 0 25px 25px 0;
  background-color: #2b2828;
  color: #f4eded;
  cursor: pointer;
}
.welcomeDiv_text form button:hover {
  background-color: #e67e22;
  color: #2b2828;
  transition: 0.4s;
  border-color: #e67e22;
}

.panel-primary {
  background-color: #2b2828;
  color: #f4eded;
}

.panel-secondary {
  background-color: #f4eded;
  color: #2b2828;
}

.imgLeft {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img text";
}
.imgLeft img {
  grid-area: img;
  justify-self: center;
  translate: 0 5%;
}
.imgLeft section {
  grid-area: text;
  translate: 0 5%;
}

.imgRight {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text img";
}
.imgRight img {
  grid-area: img;
  justify-self: center;
  border-radius: 45px;
  translate: 0 5%;
}
.imgRight section {
  grid-area: text;
  translate: 0 5%;
}

.btn-info {
  position: relative;
  width: 50%;
  line-height: 4rem;
  border: none;
  border-radius: 45px;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #e67e22;
  cursor: pointer;
  font-family: "PlaypenSans";
  font-style: italic;
  font-weight: 900;
}

.btn-info:hover {
  transition: 0.4s;
  color: #f4eded;
}

footer {
  height: 5vh;
  background-color: #2b2828;
  color: #f4eded;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .navbarDiv {
    height: 8vh;
  }
  .navbarDiv .item a {
    font-size: 1.2rem;
  }
  .welcomeDiv_bg {
    height: 92vh;
  }
  .welcomeDiv_text {
    line-height: 0rem;
    height: 92vh;
    width: 100vw;
    top: 8vh;
  }
  .welcomeDiv_text h1 {
    font-size: 10rem;
    letter-spacing: 2rem;
  }
  .welcomeDiv_text h2 {
    font-size: 2rem;
  }
  .welcomeDiv_text h3 {
    padding-bottom: 1rem;
  }
  .welcomeDiv_text form {
    width: 50%;
    height: 3rem;
  }
  .welcomeDiv_text form input,
  .welcomeDiv_text form button {
    line-height: 3rem;
  }
  .welcomeDiv_text form input {
    width: 80%;
  }
  .welcomeDiv_text form button {
    width: 25%;
  }
  .panel {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .panel img {
    translate: 0 5%;
    width: 90%;
    justify-self: center;
    align-self: center;
    border-radius: 45px;
  }
  .panel article {
    translate: 0 5%;
    height: 67%;
    width: 80%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .panel h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
  .panel span {
    color: #e67e22;
  }
  .panel p {
    position: relative;
    text-align: center;
    width: 80%;
    justify-self: center;
    left: 10%;
    font-size: 1.3rem;
  }
  .imgLeft img {
    translate: 0 2.5%;
  }
  .imgLeft section {
    translate: 0 5%;
  }
  .imgRight img {
    translate: 0 2.5%;
  }
  .imgRight section {
    translate: 0 5%;
  }
  .btn-info {
    width: 50%;
    line-height: 3rem;
    font-size: 1.3rem;
  }
  footer {
    height: 5vh;
  }
}
.panelMobile {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbarDiv {
    height: 8vh;
  }
  .navbarDiv .item a {
    font-size: 1rem;
  }
  .welcomeDiv_bg {
    height: 92vh;
  }
  .welcomeDiv_text {
    line-height: 0rem;
    height: 92vh;
    width: 100vw;
    top: 8vh;
  }
  .welcomeDiv_text h1 {
    font-size: 6rem;
    letter-spacing: 2rem;
  }
  .welcomeDiv_text h2 {
    font-size: 2rem;
  }
  .welcomeDiv_text h3 {
    padding-bottom: 1rem;
  }
  .welcomeDiv_text form {
    width: 50%;
    height: 3rem;
  }
  .welcomeDiv_text form input,
  .welcomeDiv_text form button {
    line-height: 3rem;
  }
  .welcomeDiv_text form input {
    width: 80%;
  }
  .welcomeDiv_text form button {
    width: 25%;
  }
  .panel {
    display: none;
  }
  .panelMobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .panelMobile img {
    width: 50%;
  }
  .panelMobile section {
    text-align: center;
  }
  .panelMobile section h2 {
    font-size: 2.5rem;
  }
  .panelMobile section p {
    font-size: 1.3rem;
  }
  .btn-info {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  footer {
    height: 5vh;
  }
}
@media only screen and (max-width: 767px) {
  .navbarDiv {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbarDiv .item {
    display: none;
  }
  .navbarDiv .item a {
    font-size: 0rem;
  }
  .welcomeDiv_bg {
    height: 92vh;
  }
  .welcomeDiv_text {
    line-height: 0rem;
    height: 92vh;
    width: 100vw;
    top: 8vh;
  }
  .welcomeDiv_text h1 {
    font-size: 2rem;
    letter-spacing: 1rem;
    text-align: center;
  }
  .welcomeDiv_text h2 {
    font-size: 1rem;
  }
  .welcomeDiv_text h3 {
    padding-bottom: 0.8rem;
  }
  .welcomeDiv_text form {
    width: 75%;
    height: 2rem;
  }
  .welcomeDiv_text form input,
  .welcomeDiv_text form button {
    line-height: 2rem;
  }
  .welcomeDiv_text form input {
    width: 80%;
  }
  .welcomeDiv_text form button {
    width: 25%;
  }
  .panel {
    display: none;
  }
  .panelMobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .panelMobile img {
    width: 75%;
  }
  .panelMobile section {
    text-align: center;
  }
  .panelMobile section h2 {
    font-size: 1.5rem;
  }
  .panelMobile section p {
    font-size: 0.8rem;
  }
  .btn-info {
    line-height: 2rem;
    font-size: 1rem;
  }
  footer {
    height: 5vh;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=AppStyles.css.map */